
* {
    margin: 0;
    padding: 0;
  }
.nav {
    background-color: #e78787;
    display: flex;
    padding: 1em 5em;
}
li {
    flex-direction: row-reverse;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;    
}
.push-left {
    margin-right: auto;
}
.hero {
    display: flex;
    background-color: gray;
    padding: 2em 5em 3em 5em;
}
.column {
    margin: 0 1em;
    flex: 1;
}
.right {
    display: flex;
    min-height: 150px;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.right p {
    text-align: center;
}


h3 {
    text-align: center;
    padding: 1em;
}

.boxes {
    background-color: white;
    flex-wrap: wrap;
    gap: 2em;
    display: flex;
    padding: 0em 8em 4em;
    justify-content: center;
    
}
.box {
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: center
}
.square {   
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: yellow;
}
.box p {
    text-align: center;
    padding-top: 1em;
}
.quote{
    display: flex;
    flex-direction: column;
    background-color: teal;
    align-items: center;
    padding: 4em 12em;
}
blockquote {
    width: 500px;
    font-style: italic;
    font-size: x-large;
}
#author {
    background-color: tomato;
    width: 500px;
    font-size: small;
   font-weight: bold;
   text-align: right;
}
.signup{
    
}